.base {
    /**
     * @base
     */
    color: red;
}

@media (min-width: 480px) {
    .class {
        padding: 5px;
    }

    .base-in-media-query {
        /* @base */
        font-size: 12px;
    }
}

.class {
    padding: 10px;
}
